body {
  font-size: 130%;
}

.space {
  padding: 1em 0em;
}

.space--large {
  padding: 3em 0em;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand__logo {
  width: 10em;
}

.brand__slogan {
  font-size: xx-large;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.nav > * {
  background-color: #000864;
  color: white;
  border-radius: 0.2em;
}

.nav > *:hover {
  background-color: #ff5722;
}

.contact-us__submit {
  background-color: #ff5722;
  border: none;
  font-size: 100%;
  border-radius: 0.3em;
}

.contact-us__submit:hover {
  background-color: #c41c00;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav__item {
  padding: 0.8em;
  margin: 2px;
  font-size: 120%;
}

@media screen and (max-width: 660px) {
  .nav__item {
    font-size: 100%;
  }
}

.nav--hidden {
  display: none;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.welcome__content {
  flex: 0 1 50%;
}

.figure__image--principal {
  width: 100%;
}

.figure--principal {
  width: 20em;
}

.info {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.figure--classroom {
  width: 24em;
}

.info__content {
  flex: 0 1 40%;
  order: -1;
}

.figure__image--classroom {
  width: 100%;
}

.student_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.student__figure__image {
  width: 100%;
}

.student__figure {
  min-width: 10em;
}

.student {
  flex: 0 0 30%;
  margin: 1em;
}

.stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stat__figure {
  text-align: center;
}

.stat__figure th {
  font-size: 3em;
}

.testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonial__entry {
  width: 15em;
  padding: 1em;
}

.contact-us form > * {
  display: block;
}

.footer__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brand--footer img {
  width: 5em;
}

.brand--footer .brand__slogan {
  font-size: 1.2em;
}

.contact-us__email {
  border-radius: 0.3em;
  font-size: 90%;
}

.contact-us__message {
  font-size: 90%;
}

.contact-us--main .contact-us__email {
  font-size: 120%;
}

.contact-us__message {
  font-size: 110%;
  border-radius: 0.4em;
  padding: 1em;
}

.contact-us > form > * {
  padding: 0.4em 0.4em 0.4em 0em;
}

.contact-us > form > .contact-us__submit {
  margin: 0.4em 0.4em 0.4em 0em;
  padding: 0.4em;
}

.site-map > ul {
  list-style-type: none;
}

.address__item > img {
  clear: left;
  float: left;
  max-width: 2em;
  max-height: 1.5em;
}

.address__item > figcaption {
  display: inline;
  padding: 0.4em;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__title {
  font-size: 200%;
  text-align: center;
}

.overview__content {
  flex: 1 1 30em;
  column-count: 2;
  padding: 0em 2em;
}

@media screen and (max-width: 500px) {
  .overview__content {
    column-count: 1;
    padding: 0em 1em;
  }
}

.figure__image--compound {
  width: 100%;
}

.figure--compound {
  flex: 1 0 18em;
}

.school-tour__video {
  width: 100%;
}

.management {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.management__figure {
  flex: 0 0 16em;
}

.management__figure__image {
  width: 100%;
}

.management__figure__caption {
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
}

.local-nav > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.local-nav__item {
  padding: 0.6em;
  margin: 1em;
  font-size: 130%;
  border-radius: 0.2em;
  background-color: #ff8a50;
}

.local-nav__item a {
  text-decoration: none;
  color: #000435;
}

.local-nav__item:hover {
  background-color: #000435;
  color: white;
}

.local-nav__item:hover a {
  color: white;
} 

.grade {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.books,
.assignments {
  flex: 0 1 14em;
}

.grade__title,
.section__title--right-indent {
  margin-left: 2em;
}

.books__title,
.assignments__title {
  text-align: center;
}

.books__list,
.assignments__list {
  list-style-type: none;
}

.grade li {
  text-align: center;
}

.calendar {
  padding: 0em 1.2em;
  display: grid;
  grid-template-areas:
    "title     title"
    "week-days      calendar-card";
}

@media screen and (max-width: 760px) {
  .calendar {
    grid-template-areas:
      "title"
      "week-days"
      "calendar-card";
  }
}

.section__title__this-week {
  grid-area: title;
}

.week_days {
  grid-area: week-days;
  display: flex;
  flex-wrap: wrap;
}

.week__day {
  padding: 0.5em;
  margin: 0.2em auto;
  width: 10em;
  text-align: center;
  font-size: 130%;
  border: 1px solid black;
  border-radius: 0.2em;
  background-color: #000864;
  color: white;
}

.week__day:hover {
  background-color: #ff5722;
}


.calendar__card {
  grid-area: calendar-card;
  padding: 4em 0em;
}

.upcoming {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
}

.upcoming__item {
  padding: 0.4em;
  margin: 0.1em;
  font-size: 140%;
}

.mapview {
  display: flex;
  margin: auto;
  width: 90%;
  flex-direction: column;
  justify-content: center;
}

.mapview > iframe {
  width: 100%;
}

@media screen and (min-width: 810px) {
  .mapview > iframe {
    height: 40em;
  }
}

.contact-us--main > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us--main label {
  font-size: 1.4em;
  margin: 0.2em;
}

.contact-us--main input {
  padding: 0.5em;
}

.contact-us--main text-area {
  padding: 2em;
}

.contact-us--main input[type="submit"] {
  padding: 1em;
  margin: 0.5em;
}

.faq_set {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 570px) {
  .faq_set {
    width: 90%;
  }
}

.faq {
  flex: 0 0 49%;
}

.story-grid {
  display: grid;
  padding: 2em;
  grid-template-areas:
    "figure-jordan     story-jordan"
    "story-clyde        figure-clyde"
    "figure-charmayne   story-charmine"
    "story-audreona     figure-audreona";
}

@media screen and (max-width: 1254px) {
  .story-grid {
    grid-template-areas:
      "figure-jordan"
      "story-jordan"
      "figure-clyde"
      "story-clyde"
      "figure-charmayne"
      "story-charmine"
      "figure-audreona"
      "story-audreona";
  }
}

.story-grid figure img {
  max-width: 100%;
  max-height: 100%;
}

.figure--jordan {
  grid-area: figure-jordan;
}

.story--jordan {
  grid-area: story-jordan;
}

.figure--clyde {
  grid-area: figure-clyde;
}

.story--clyde {
  grid-area: story-clyde;
}

.figure--charmayne {
  grid-area: figure-charmayne;
}

.story--charmyne {
  grid-area: story-charmayne;
}

.figure--audreona {
  grid-area: figure-audreona;
}

.story--audreona {
  grid-area: story-audreona;
}

.nav__item--drop-down {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.nav--hidden {
  display: none;
  position: absolute;
  left: 0%;
  top: 100%;
  min-width: 8em;
  z-index: 10;
}

.nav--hidden .nav__item {
  font-size: 100%;
}

.nav__item--drop-down:hover .nav--hidden {
  display: block;
}

.contact-us--main .contact-us__message {
  width: 36em;
  height: 20em;
}

@media screen and (max-width: 700px) {
  .contact-us--main .contact-us__message {
    width: 28em;
  }
}

@media screen and (max-width: 556px) {
  .contact-us--main .contact-us__message {
    width: 18em;
  }
}

.error {
  color: rgb(207, 47, 47);
}

.contact-us--main .error__message {
  display: block;
  border: 1px solid rgb(207, 47, 47);
  border-radius: 0.2em;
  margin: 0.1em;
  padding: 0.4em 1em;
  font-size: 124%;
}

.error__message {
  display: block;
  border: 1px solid rgb(207, 47, 47);
  border-radius: 0.2em;
  margin: 0.1em;
  padding: 0.2em 0.5em;
  font-size: 100%;
}

.footer .error {
  color: rgb(255, 181, 181);
  padding: 0;
}

.header figcaption {
  font-size: 2em;
}

.footer {
  background-color: #00042c;
  color: white;
}

.footer a {
  color: white;
}

body {
  background-image: url("../images/background_3.jpg");
  background-size: 600px 600px;
  background-repeat: repeat;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.96);
  margin: 0px;
}

/* this removes the margins of the body at
 the top and bottom */
header {
  border: 1px transparent solid;
}
footer {
  border: 1px transparent solid;
}

.site-map a {
  display: block;
  padding: 0.1em;
}

.site-map a:hover {
  color: rgb(255, 115, 34);
}

.card-display {
  width: 300px;
  color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 1em;
  margin: auto;
  background-color: #000435;
  min-height: 14em;
}

@media screen and (max-width: 400px) {
  .card-display {
    width: 280px;
  }
}

@media screen and (min-width: 1090px) {
  .card-display {
    width: 460px;
  }
}

.books__list li a,
.assignments__list li a {
  display: block;
  background-color: rgb(39, 39, 39);
  color: white;
  text-decoration: none;
  margin: 0.3em;
  padding: 0.4em;
  font-size: 120%;
  border-radius: 0.2em;
}

.books__list li a:hover,
.assignments__list li a:hover {
  position: relative;
  top: -4px;
  left: -4px;
  box-shadow: 4px 4px black;
} 

.question {
  font-size: 150%;
}

.question:hover {
  text-decoration: underline;
}

.answer {
  font-size: 120%;
}

.header, {
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
}

img {
  border-radius: 1em;
}

.active-day {
  background-color: #ff5722;
}